* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter {
  font-family: "Inter", sans-serif;
  
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 5%;
    width: 100%;
    background-color: white;
}

.navbar-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 48px;
}

.logo-img {
    height: 60px;
    width: auto;
    display: block;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 64px;
    margin-left: auto;
}

.nav-links li a {
    color: black;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.2s ease;
}

.nav-links li a:hover {
    color: #34A853;
}

.nav-btn {
    display: inline-block;
    background-color: #2FB365;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    text-align: center;
}

.nav-btn:hover {
    background-color: #269252;
}